VITE_OKAMI_API_BASE_URL=same-origin
VITE_OKAMI_API_TOKEN=
VITE_OKAMI_POLL_INTERVAL_MS=8000
OKAMI_API_PORT=3001
OKAMI_STREAM_INTERVAL_MS=8000
OKAMI_ALLOWED_ORIGINS=
OKAMI_BACKEND_URL=
OKAMI_BACKEND_PROXY_TOKEN=
